.bp-icon-search:before {
  &:extend(.bp-icon-system:before);
  content: '\e000';
}
.bp-icon-chevron-right:before {
  &:extend(.bp-icon-system:before);
  content: '\e001';
}
.bp-icon-chevron-left:before {
  &:extend(.bp-icon-chevron-right:before);
  .rotate(180deg);
}
.bp-icon-chevron-up:before {
  &:extend(.bp-icon-chevron-right:before);
  .rotate(270deg);

}
.bp-icon-chevron-down:before {
  &:extend(.bp-icon-chevron-right:before);
  .rotate(90deg);
}
.bp-icon-check:before {
  &:extend(.bp-icon-system:before);
  content: '\e002';
}