.bp-cell-value1-cell-label() {
  font-weight: bold;
  -webkit-box-flex: 1;
}

.bp-cell-value1-cell() {
  display: block;
  min-width: 10%;
  max-width: 30%;
  -webkit-box-flex: 10;
  color           : #ABABAB;
  margin-left     : 13px;
  text-align      : right;
}

.bp-cell-value2-cell-label() {
  color     : #ABABAB;
  font-size : 0.9em;
  text-align: right;
  width     : 35%;
}
.bp-cell-value2-cell() {
  display    : block;
  font-weight: bold;
  margin-left: 13px;
  width      : 65%;
}
