@import 'android/theme';

.bp-android-navbar(@prefix) {
  @height: @android-navbar-height;
  &:extend(.borderbox);
  &:extend(.flexbox);
  .bp-android-navbar-theme;
  position: relative;
  height: @height;
  padding: 0 (@height/6);
  width: 100%;
  .order(10);

  .@{prefix}-text {
    &:extend(.ellipsis);
    overflow: visible;
    position: relative;
    font-size: inherit;
    display: block;
    height: (@height / 1.2);
    line-height: (@height / 1.2);
    margin-left: (@height / 1.2);
    -webkit-box-flex: 1;
    &:before {
      @size: (@height / 1.6);
      content: '';
      display: block;
      position: absolute;
      top: 5px;
      left: -(@size + @height/12);
      pointer-events: none;
      width: @size;
      height: @size;
      background-repeat: no-repeat;
      .background-size(@size @size);
      .background-image(@android-navbar-app-icon);
    }
  }

  bp-icon {
    display: block;
    width: @height;
    height: @height;
    line-height: @height;
    text-align: center;
    &:last-child {
      margin-right: -(@height/6);
    }
  }

  bp-button {
    margin-left: (@height/6);
  }

  bp-button.bp-button-back:first-child {
    .border-radius(0);
    .box-shadow(none);
    position: absolute;
    top: 0px;
    left: (-@height/6);
    width: @height;
    height: @height;
    line-height: @height;
    padding: 0;
    background: transparent;
    color: transparent;
    &:extend(.bp-icon-chevron-left all);
    &:before {
      .transform(scale(1,1.5), rotate(180deg));
      display: inline-block;
      position: absolute;
      left: 0;
      font-size: 12px;
    }
  }
}
