@import 'ios/theme';

.bp-ios-navbar(@prefix) {
  .bp-ios-navbar-theme;
  &:extend(.borderbox);
  &:extend(.flexbox);
  background-size: 1px 1px;
  background-repeat: repeat no-repeat;
  background-position: left bottom;
  height: @ios-navbar-height;
  padding: 0 8px;
  width: 100%;
  .order(10);

  .before {
    margin-right: 8px;
  }
  .after {
    margin-left: 8px;
  }
  .@{prefix}-text {
    &:extend(.ellipsis);
    font-size: inherit;
    text-align: center;
    display: block;
    font-weight: bolder;
    .ios-dynamic-type(-apple-system-headline);
    -webkit-box-flex: 1;
  }
  @media only screen and (orientation:landscape) and (max-height: 480px) {
    height: @ios-navbar-height-landscape;
    bp-button {
      min-width: @ios-navbar-height-landscape;
      height: @ios-navbar-height-landscape;
      line-height: @ios-navbar-height-landscape;
    }
  }
}
