@import 'android';
@import 'ios';

.bp-navbar(@name:bp-navbar, @prefix: bp-navbar) {
  @{name}-wrapper {
    display: block;
    position: relative;
    width: 100%;
    @{name} {
      position: absolute !important;
    }
  }

  @{name} {
    .order(10);
  }

  .bp-platforms-navbar() when (@ios) and not (@android) {
    @{name} {
      .bp-ios-navbar(@prefix);
    }

    @{name}-wrapper {
      .bp-ios-navbar-wrapper;
    }
  }

  .bp-platforms-navbar() when (@android) and not (@ios) {
    @{name} {
      .bp-android-navbar(@prefix);
    }

    @{name}-wrapper {
      .bp-ios-android-wrapper;
    }
  }

  .bp-platforms-navbar() when (@ios) and (@android) {
    .@{ios-name} @{name} {
      .bp-ios-navbar(@prefix);
    }

    .@{ios-name} @{name}-wrapper {
      .bp-ios-navbar-wrapper;
    }

    .@{android-name} @{name} {
      .bp-android-navbar(@prefix);
    }

    .@{android-name} @{name}-wrapper {
      .bp-android-navbar-wrapper;
    }
  }

  .bp-platforms-navbar;
}
