.form-disable-default(@a:a) {
  -webkit-appearance: none;
  background: transparent;
  border: none;
  &:focus {
    outline: none;
  }
}

.form-enable-native-default(@color: @highlight-color) {
  width: 100%;
  display: block;
  padding: 0 8px;
  height: 30px;
  background-repeat: no-repeat;
  background-size: 2px 5px, 2px 5px;
  background-position: right bottom, left bottom;
  //TODO: make gradient cross browser;
  background-image: -webkit-linear-gradient(#ABABAB, #ABABAB), -webkit-linear-gradient(#ABABAB, #ABABAB);
  border-bottom: 2px solid #ABABAB;

  &:-webkit-input-placeholder {
    color: #ABABAB;
  }

  &:focus {
    background-image: -webkit-linear-gradient(@color, @color), -webkit-linear-gradient(@color, @color);
    border-bottom: 2px solid @color;
  }
}
