.bp-icon(@name:bp-icon) {
  .@{name}:before {
    content: '\e000';
    display: inline-block;
    font-family: @bp-icon-font-app;
    font-style: normal;
    font-size: 1em;
    line-height: 1em;
    font-variant: normal;
    font-weight: normal;
    text-align: center;
    text-decoration: inherit;
    text-transform: none;
    speak: none;
    -webkit-box-flex: 0;
    -webkit-font-smoothing: antialiased;
  }
  .bp-icon-sytem-font() when (isstring(@bp-icon-font-system)) {
    @font-face {
      font-family: @bp-icon-font-system;
      src: @bp-icon-font-system-url;
      font-weight: normal;
      font-style: normal;
    }
    .bp-icon.bp-icon-search:before {
      font-family: @bp-icon-font-system;
      content: '\e600';
    }
  }
  .bp-icon-sytem-font;
}
