.btn-type (@color: @ui-color, @font-size: 12px) {
  font-family           : Helvetica Neue, Helvetica, sans-serif;
  font-size             : @font-size;
  font-weight           : bold;
  text-align            : center;
  -webkit-text-rendering: optimizeLegibility;
}

.btn-type (@color: @ui-color, @font-size: 12px) when (luma(@color) > 50%) {
  color      : black;
  text-shadow: 0 -1px fade(white,40%);
}
.btn-type (@color: @ui-color, @font-size: 12px) when (luma(@color) =< 50%) {
  color      : white;
  text-shadow: 0 -1px fade(black,40%);
}
