.bp-fade (@direction: normal, @name: fade, @duration: 0.3s) {
  @enter: ~`'@{direction}' === 'normal' ? 0 : 1`;
  @leave: ~`'@{direction}' === 'normal' ? 1 : 0`;

  .@{name}-@{direction}-enter {
    .transition(~"@{duration} linear all");
    opacity: @enter;
    z-index: @leave;
  }
  .@{name}-@{direction}-enter.@{name}-@{direction}-enter-active {
    opacity: 1;
  }
  .@{name}-@{direction}-leave {
    .transition(~"@{duration} linear all");
    opacity: 1;
    z-index: @enter;
  }
  .@{name}-@{direction}-leave.@{name}-@{direction}-leave-active {
    opacity: @leave;
  }
}