.bp-scale (@direction: grow, @name: scale, @duration: 0.3s) {
  @enter: ~`'@{direction}' === 'grow' ? 0 : 1`;
  @leave: ~`'@{direction}' === 'grow' ? 1 : 0`;

  .@{name}-@{direction}-enter {
    .transition(~"@{duration} linear all");
    .transform(scale(@enter));
    z-index: @leave;
  }
  .@{name}-@{direction}-enter.@{name}-@{direction}-enter-active {
    .transform(scale(1));
  }
  .@{name}-@{direction}-leave {
    .transition(~"@{duration} linear all");
    .transform(scale(1));
    z-index: @enter;
  }
  .@{name}-@{direction}-leave.@{name}-@{direction}-leave-active {
    .transform(scale(@leave));
  }
}