.navbar-size (@size: default) {
  @height: ~`'@{size}' === 'small' ? '33px' : '44px'`;
  height : @height;
  padding: 0 5px;
  width  : 100%;
  > * {
    margin-top   : 0;
    margin-bottom: 0;
  }
}
.navbar-size (small) {
  .btn {
    .btn-height(small);
  }
}
