@font-color              : #333333;
@theme-color             : #CECECE;
@highlight-color         : #5AC2E9;

@navbar-height           : 48px;

@button-height           : (@navbar-height - @navbar-height/6);

@table-cell-active-color : @highlight-color;
@table-cell-height       : @navbar-height;
@table-header-height     : 25px;

@font-size               : 18px;
@font-icon-size          : 16px;

@font-path               : '../font/';
