@ui-color                        : #587296;
@ui-color-secondary              : #375f97;
@ui-color-primary                : #2949C4;
@ui-color-info                   : #2a6a7d;
@ui-color-success                : #007b1a;
@ui-color-warning                : #D3D300;
@ui-color-danger                 : #b01825;
@ui-color-inverse                : black;

@btn-height-default              : 30px;
@btn-height-small                : 26px;

@switch-height                   : 27px;
@switch-tint-color               : #007fea;
@switch-label-on                 : 'ON';
@switch-label-off                : 'OFF';

@navbar-height-default           : 44px;
@navbar-height-small             : 33px;

@tabbar-icon-color               : #C2C2C2;
@tabbar-icon-color-active        : #2096FF;

@table-cell-active-color         : #058cf5;
@table-cell-height               : 44px;
@table-header-height             : 25px;

@actionsheet-color               : #4B525E;
@actionsheet-button-color        : #cdcdcf;
@actionsheet-button-color-inverse: #2b3038;
