@import 'android/theme';

.bp-android-tabbar() {
  &:extend(.borderbox);
  &:extend(.flexbox);
  .order(20);
  .bp-android-tabbar-theme;
  height: @android-tabbar-height;
  width: 100%;
}

.bp-android-tab(@prefix) {
  &:extend(.borderbox);
  .bp-flexbox(vertical);
  .bp-android-tab-theme;
  display: block;
  border-top: 6px solid transparent;
  border-bottom: 6px solid transparent;
  height: 100%;
  -webkit-box-flex: 1;

  bp-icon {
    display: none;
  }

  span {
    &:extend(.ellipsis);
    display: block;
    width: 100%;
    text-align: center;
    margin: 6px 0;
    height: 26px;
    line-height: 26px;
    font-size  : 11px;
    font-weight: bold;
    text-transform: uppercase;
    border-right: 1px solid @android-background-color;
  }
}
