@import 'ios/theme';

.bp-ios-tabbar() {
  &:extend(.borderbox);
  &:extend(.flexbox);
  .bp-ios-tabbar-theme;
  .order(90);
  height: @ios-tabbar-height;
  width: 100%;
  background-size: 1px 1px;
  background-repeat: repeat no-repeat;
  background-position: left top;
}

.bp-ios-tab(@prefix) {
  &:extend(.borderbox);
  .bp-flexbox(vertical);
  .bp-ios-tab-theme;
  -webkit-box-flex: 1;
  height: 100%;

  .bp-icon {
    display: block;
    height: 32px;
    font-size: 24px;
    line-height: 32px;
  }

  span {
    &:extend(.ellipsis);
    display: block;
    height: 15px;
    font-size: 11px;
    line-height: 15px;
    .ios-dynamic-type(-apple-system-caption2);
  }
}
