.btn-type (@android-font-size: 12px, @color: @android-font-color) {
  color                 : @color;
  font-size             : @android-font-size;
  text-align            : center;
  -webkit-text-rendering: optimizeLegibility;
}
