.btn-type (@font-size: 12px, @color: @font-color) {
  color                 : @color;
  font-size             : @font-size;
  text-align            : center;
  -webkit-text-rendering: optimizeLegibility;
}
