[bp-iscroll] {
  position: relative;
  -webkit-box-flex: 1;
  overflow: hidden;
}

bp-iscroll-wrapper {
  position: absolute;
  display: block;
  width: 100%;
}

.iScrollVerticalScrollbar {
  width: 2px !important;
  right: 2px !important;
}

.iScrollIndicator {
  border: none !important;
}
