.btn-basic () {
  @color1 : fade(white, 50%);
  @color2 : fade(black, 30%);
  @color3 : fade(black, 70%);

  .border-radius(6px);
  .box-shadow(~"inset 0 -1px @{color1}, inset 0 1px @{color2}, inset 0 0 2px @{color3}");
  border       : none;
  display      : block;
  padding      : 0 10px;
  position     : relative;
}
