.btn-height (@size: default) when (@size = default) {
  @height    : @btn-height-default;
  height     : @height;
  line-height: @height;
}

.btn-height (@size) when (@size = small) {
  @height    : @btn-height-small;
  height     : @height;
  line-height: @height;
}
