.btn-type (@color: @ios-ui-color, @android-font-size: 18px) {
  font-size             : @android-font-size;
  font-weight           : normal;
  text-align            : center;
  -webkit-text-rendering: optimizeLegibility;
  color      : @color;
  font: -apple-system-body;
}
