.btn-arrow(back) {
  &:extend(bp-icon all);
  &:extend(.bp-icon-chevron-left all);
  &:before {
    font-size: 20px;
    line-height: 22px;
    height: 22px;
  }
}

.btn-arrow(forward) {
  &:after {
    &:extend(bp-icon:before);
    &:extend(.bp-icon-chevron-right:before);
    font-size: 20px;
    line-height: 22px;
    height: 22px;
  }
}
