#ios7 {
  .btn-group() {
    .border-radius(0);
    float        : left;
    margin       : 0;
    padding      : 0 14px;

    &:first-child {
      .border-bottom-left-radius(6px);
      .border-top-left-radius(6px);
      margin-left: 7px;
    }

    &:last-child {
      .border-bottom-right-radius(6px);
      .border-top-right-radius(6px);
      margin-right: 7px;
    }
  }
}
