.bp-slide(normal, @duration: 0.65s, @name: slide) {
  @ease: cubic-bezier(0.23,1,0.32,1);
  .keyframes(~'@{name}-normal-enter, 0%{ transform: translateX(100%) } 100%{ transform: translateX(0) }');
  .keyframes(~'@{name}-normal-leave, 0%{ transform: translateX(0); filter: brightness(1) } 100%{ transform: translateX(-30%); filter: brightness(0.9) }');

  .@{name}-normal.ng-enter {
    z-index: 1000;
    .animation(slide-normal-enter, @duration, @ease);
  }
  .@{name}-normal.ng-leave {
    z-index: inherit;
    .animation(slide-normal-leave, @duration, @ease);
  }
}

.bp-slide(reverse, @duration: 0.65s, @name: slide) {
  @ease: cubic-bezier(0.23,1,0.32,1);
  .keyframes(~'@{name}-reverse-leave, 0%{ transform: translateX(0) } 100%{ transform: translateX(100%) }');
  .keyframes(~'@{name}-reverse-enter, 0%{ transform: translateX(-30%); filter: brightness(0.9) } 100%{ transform: translateX(0); filter: brightness(1) }');

  .@{name}-reverse.ng-enter {
    z-index: inherit;
    .animation(slide-reverse-enter, @duration, @ease);
  }
  .@{name}-reverse.ng-leave {
    z-index: 1000;
    .animation(slide-reverse-leave, @duration, @ease);
  }
}

