/*
# Background
*/

.navbar-bg(@a:a) {
  background-color: #f8f8f8;
  .gradient(~"linear-gradient(#f2f2f2, #f2f2f2 50%, #c0c0c0 50%)");
  background-size: 1px 1px;
  background-repeat: repeat no-repeat;
  background-position: left bottom;
}
