/*
# Elements
*/

.table-element(@icon, @iconcolor) {
  &:after {
    font-size: 0.8em;
    content: @icon;
    color: @iconcolor;
  }
}

.table-element(@icon, @iconcolor, @textcolor) {
  color: @textcolor;
  &:after {
    font-size: 0.8em;
    content: @icon;
  }
}
