.bp-cell-subtitle-title(@a:1) {
  font-size  : 18px;
  height     : 24px;
  line-height: 24px;
}

.bp-cell-subtitle-subtitle(@a:1) {
  color: #ABABAB;
  font-size  : 18px;
  height     : 24px;
  line-height: 24px;
}
