[ui-view] {
  display: block;
  position: relative;
  .scf-full-size;
}

bp-screen {
  position: absolute;
  top: 0;
  left: 0;
  .scf-full-size;
  .bp-flexbox(vertical,start,stretch);
  .transform(translate3d(0,0,0));
  z-index: 1;
}
