[ui-view] {
  display: block;
  position: relative;
  overflow: hidden;
  -webkit-box-flex: 1;
  -webkit-box-ordinal-group: 50;
}

bp-screen, [bp-screen] {
  position: absolute !important;
  top: 0;
  left: 0;
  .scf-full-size;
  .bp-flexbox(vertical,start,stretch);
  .transform(translate3d(0,0,0));
  z-index: 1;
}

.bp-content {
  -webkit-box-flex: 1;
}
