.bp-cell-value1-cell-label() {
  font-weight: bold;
}

.bp-cell-value1-cell() {
  -webkit-box-flex: 1;
  color           : #7485a6;
  margin-left     : 13px;
  text-align      : right;
}

.bp-cell-value2-cell-label() {
  color     : #7485a6;
  font-size : 0.9em;
  text-align: right;
  width     : 35%;
}
.bp-cell-value2-cell() {
  display    : block;
  font-weight: bold;
  margin-left: 13px;
  width      : 65%;
}