#loading-bar {
  pointer-events: none;
  .transition(0.5s linear all);

  &.ng-enter,
  &.ng-leave.ng-leave-active {
    opacity: 0;
  }

  &.ng-enter.ng-enter-active,
  &.ng-leave {
    opacity: 1;
  }

  & .bar {
    .transition(width 500ms);
    position: fixed;
    z-index: 99999;
    left: 0;
    width: 100%;
    height: 2px;
  }
}

#loading-bar .peg, #loading-bar-spinner {
  display: none !important;
  visibility: hidden !important;
  pointer-events: none !important;
  speak: none !important;
}
