@ui-color                        : #0069ff;

@switch-tint-color               : #00e464;

@navbar-height-default           : 44px;
@navbar-height-small             : 33px;

@tabbar-icon-color               : #C2C2C2;
@tabbar-icon-color-active        : #2096FF;

@table-cell-active-color         : #058cf5;
@table-cell-height               : 44px;
@table-header-height             : 25px;

@actionsheet-color               : #4B525E;
@actionsheet-button-color        : #cdcdcf;
@actionsheet-button-color-inverse: #2b3038;
