<!doctype html>
<html ng-app="demo">
  <head>
    <title>Bradypodion iscroll sticky demo</title>
    <link rel="stylesheet" href="../../../../dist/bradypodion.css">
    <meta charset="UTF-8">
    <meta name="HandheldFriendly" content="True">
    <meta name="MobileOptimized" content="320">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no, target-densitydpi=device-dpi">
    <meta name="viewport" content="initial-scale=1.0,user-scalable=no,maximum-scale=1" media="(device-height: 568px)" />
    <meta name="apple-mobile-web-app-capable" content="yes">
  </head>
  <body ng-cloak>
    <bp-screen>
      <bp-navbar>Sticky Headers Demo<bp-button demo-switch-theme bp-tap="toggleTheme()">Toggle Theme</bp-button></bp-navbar>
      <div bp-iscroll bp-iscroll-sticky>
        <div>
          <bp-table-header>A</bp-table-header>
          <bp-cell>Aa</bp-cell>
          <bp-cell>Aa</bp-cell>
          <bp-cell>Aa</bp-cell>
          <bp-cell>Aa</bp-cell>
          <bp-cell>Aa</bp-cell>
        </div>
        <div>
          <bp-table-header>B</bp-table-header>
          <bp-cell>Bb</bp-cell>
          <bp-cell>Bb</bp-cell>
          <bp-cell>Bb</bp-cell>
          <bp-cell>Bb</bp-cell>
          <bp-cell>Bb</bp-cell>
        </div>
        <div>
          <bp-table-header>C</bp-table-header>
          <bp-cell>Cc</bp-cell>
          <bp-cell>Cc</bp-cell>
          <bp-cell>Cc</bp-cell>
          <bp-cell>Cc</bp-cell>
          <bp-cell>Cc</bp-cell>
        </div>
        <div>
          <bp-table-header>D</bp-table-header>
          <bp-cell>Dd</bp-cell>
          <bp-cell>Dd</bp-cell>
          <bp-cell>Dd</bp-cell>
          <bp-cell>Dd</bp-cell>
          <bp-cell>Dd</bp-cell>
        </div>
        <div>
          <bp-table-header>E</bp-table-header>
          <bp-cell>Ee</bp-cell>
          <bp-cell>Ee</bp-cell>
          <bp-cell>Ee</bp-cell>
          <bp-cell>Ee</bp-cell>
          <bp-cell>Ee</bp-cell>
        </div>
        <div>
          <bp-table-header>F</bp-table-header>
          <bp-cell>Ff</bp-cell>
          <bp-cell>Ff</bp-cell>
          <bp-cell>Ff</bp-cell>
          <bp-cell>Ff</bp-cell>
          <bp-cell>Ff</bp-cell>
        </div>
        <div>
          <bp-table-header>G</bp-table-header>
          <bp-cell>Gg</bp-cell>
          <bp-cell>Gg</bp-cell>
          <bp-cell>Gg</bp-cell>
          <bp-cell>Gg</bp-cell>
          <bp-cell>Gg</bp-cell>
        </div>
        <div>
          <bp-table-header>H</bp-table-header>
          <bp-cell>Hh</bp-cell>
          <bp-cell>Hh</bp-cell>
          <bp-cell>Hh</bp-cell>
          <bp-cell>Hh</bp-cell>
          <bp-cell>Hh</bp-cell>
        </div>
        <div>
          <bp-table-header>I</bp-table-header>
          <bp-cell>Ii</bp-cell>
          <bp-cell>Ii</bp-cell>
          <bp-cell>Ii</bp-cell>
          <bp-cell>Ii</bp-cell>
          <bp-cell>Ii</bp-cell>
        </div>
        <div>
          <bp-table-header>J</bp-table-header>
          <bp-cell>Jj</bp-cell>
          <bp-cell>Jj</bp-cell>
          <bp-cell>Jj</bp-cell>
          <bp-cell>Jj</bp-cell>
          <bp-cell>Jj</bp-cell>
        </div>
        <div>
          <bp-table-header>K</bp-table-header>
          <bp-cell>Kk</bp-cell>
          <bp-cell>Kk</bp-cell>
          <bp-cell>Kk</bp-cell>
          <bp-cell>Kk</bp-cell>
          <bp-cell>Kk</bp-cell>
        </div>
        <div>
          <bp-table-header>L</bp-table-header>
          <bp-cell>Ll</bp-cell>
          <bp-cell>Ll</bp-cell>
          <bp-cell>Ll</bp-cell>
          <bp-cell>Ll</bp-cell>
          <bp-cell>Ll</bp-cell>
        </div>
        <div>
          <bp-table-header>M</bp-table-header>
          <bp-cell>Mm</bp-cell>
          <bp-cell>Mm</bp-cell>
          <bp-cell>Mm</bp-cell>
          <bp-cell>Mm</bp-cell>
          <bp-cell>Mm</bp-cell>
        </div>
        <div>
          <bp-table-header>N</bp-table-header>
          <bp-cell>Nn</bp-cell>
          <bp-cell>Nn</bp-cell>
          <bp-cell>Nn</bp-cell>
          <bp-cell>Nn</bp-cell>
          <bp-cell>Nn</bp-cell>
        </div>
        <div>
          <bp-table-header>O</bp-table-header>
          <bp-cell>Oo</bp-cell>
          <bp-cell>Oo</bp-cell>
          <bp-cell>Oo</bp-cell>
          <bp-cell>Oo</bp-cell>
          <bp-cell>Oo</bp-cell>
        </div>
        <div>
          <bp-table-header>P</bp-table-header>
          <bp-cell>Pp</bp-cell>
          <bp-cell>Pp</bp-cell>
          <bp-cell>Pp</bp-cell>
          <bp-cell>Pp</bp-cell>
          <bp-cell>Pp</bp-cell>
        </div>
        <div>
          <bp-table-header>Q</bp-table-header>
          <bp-cell>Qq</bp-cell>
          <bp-cell>Qq</bp-cell>
          <bp-cell>Qq</bp-cell>
          <bp-cell>Qq</bp-cell>
          <bp-cell>Qq</bp-cell>
        </div>
        <div>
          <bp-table-header>R</bp-table-header>
          <bp-cell>Rr</bp-cell>
          <bp-cell>Rr</bp-cell>
          <bp-cell>Rr</bp-cell>
          <bp-cell>Rr</bp-cell>
          <bp-cell>Rr</bp-cell>
        </div>
        <div>
          <bp-table-header>S</bp-table-header>
          <bp-cell>Ss</bp-cell>
          <bp-cell>Ss</bp-cell>
          <bp-cell>Ss</bp-cell>
          <bp-cell>Ss</bp-cell>
          <bp-cell>Ss</bp-cell>
        </div>
        <div>
          <bp-table-header>T</bp-table-header>
          <bp-cell>Tt</bp-cell>
          <bp-cell>Tt</bp-cell>
          <bp-cell>Tt</bp-cell>
          <bp-cell>Tt</bp-cell>
          <bp-cell>Tt</bp-cell>
        </div>
        <div>
          <bp-table-header>U</bp-table-header>
          <bp-cell>Uu</bp-cell>
          <bp-cell>Uu</bp-cell>
          <bp-cell>Uu</bp-cell>
          <bp-cell>Uu</bp-cell>
          <bp-cell>Uu</bp-cell>
        </div>
        <div>
          <bp-table-header>V</bp-table-header>
          <bp-cell>Vv</bp-cell>
          <bp-cell>Vv</bp-cell>
          <bp-cell>Vv</bp-cell>
          <bp-cell>Vv</bp-cell>
          <bp-cell>Vv</bp-cell>
        </div>
        <div>
          <bp-table-header>W</bp-table-header>
          <bp-cell>Ww</bp-cell>
          <bp-cell>Ww</bp-cell>
          <bp-cell>Ww</bp-cell>
          <bp-cell>Ww</bp-cell>
          <bp-cell>Ww</bp-cell>
        </div>
        <div>
          <bp-table-header>X</bp-table-header>
          <bp-cell>Xx</bp-cell>
          <bp-cell>Xx</bp-cell>
          <bp-cell>Xx</bp-cell>
          <bp-cell>Xx</bp-cell>
          <bp-cell>Xx</bp-cell>
        </div>
      </div>
    </bp-screen>
    <script type='text/javascript' src='../../../../deps.js'></script>
    <script type='text/javascript'>
      var finalLoad = function () {
        angular.module('demo', ['bp'])
          .config(function(bpConfigProvider) {
            bpConfigProvider.setConfig({platform: localStorage.getItem('platform') || 'ios'})
          })
          .directive('demoSwitchTheme', function(){
            return function(scope, element, attrs) {
              platforms = ['ios','ios7','android']
              scope.toggleTheme = function(e) {
                index = platforms.indexOf(scope.config.platform);
                scope.config.platform = platforms[++index%3];
                localStorage.setItem('platform', scope.config.platform);
                location.reload();
              };
            }
          })
      };
    </script>
  </body>
</html>
