[ui-view] {
  position: absolute !important;
  top: 0;
  left: 0;
  .scf-full-size;
  .bp-flexbox(vertical,start,stretch);
  .transform(translate3d(0,0,0));
  z-index: 1;
  .order(50);
}

bp-screen, [bp-screen] {
  display: block;
  position: relative;
  overflow: hidden;
  -webkit-box-flex: 1;
  &, > div {
    .order(50);
  }
}

bp-content, .bp-content {
  display: block;
  -webkit-box-flex: 1;
  .order(50);
}
