@import 'android/basic';
@import 'android/elements';
@import 'android/value';
@import 'android/subtitle';

bp-cell {
  &:extend(.borderBox);
  &:extend(.ellipsis);
  .bp-flexbox(horizontal);
  .bp-cell-wrapper;
  > div, > span {
    &:extend(.ellipsis);
    .bp-cell-content;
  }
  &.@{tap-active} {
    .bp-cell-active;
  }
}

.bp-cell-value1 {
  .label {
    .bp-cell-value1-cell-label;
  }
  .value {
    .bp-cell-value1-cell;
  }
  // minor tweaks for weird form elements
  select.value {
    width: auto;
    border-radius: 0;
    -webkit-box-flex: 0;
  }
}
.bp-cell-value2 {
  .value {
    &:extend(.borderBox);
    .bp-cell-value2-cell;
  }
  .label {
    &:extend(.borderBox);
    .bp-cell-value2-cell-label;
  }
}
.bp-cell-subtitle {
  .titles {
    .bp-flexbox(vertical, center, start);
    .title, .subtitle {
      &:extend(.ellipsis);
      width: 100%;
    }
    .title {
      .bp-cell-subtitle-title;
    }
    .subtitle {
      .bp-cell-subtitle-subtitle;
    }
  }
}

.bp-cell-disclosure {
  &:after {
    &:extend(bp-icon:before);
    &:extend(.bp-icon-system:before);
  }
  .table-element('\e001', #333);
}
.bp-cell-checkmark {
  &:after {
    &:extend(bp-icon:before);
    &:extend(.bp-icon-system:before);
  }
  .table-element('\e002', #333);
}
