@import 'android/theme';

.bp-android-cell(@prefix) {
  &:extend(.borderbox);
  &:extend(.ellipsis);
  .bp-flexbox(horizontal);
  .bp-android-cell-theme(@prefix);
  background: transparent;
  font-size: @android-cell-font-size;
  list-style: none;
  @height: @android-cell-height;
  height: @height;
  line-height: @height;
  padding: 0 (@height/6);
  margin: 0 (@height/3);

  > div, > span, > input, > label {
    &:extend(.ellipsis);
    display: block;
    -webkit-box-flex: 1;
  }

  label, .label {
    display: block;
    -webkit-box-flex: 1;
  }
  .value {
    display: block;
    max-width: 65%;
    -webkit-box-flex: 0;
    margin-left: 8px;
    text-align: right;
  }

  &.@{prefix}-subtitle {
    .titles {
      .bp-flexbox(vertical, center, start);
      .title, .subtitle {
        &:extend(.ellipsis);
        width: 100%;
      }
      .title {
        font-size: 18px;
        height: 24px;
        line-height: 24px;
      }
      .subtitle {
        font-size: 18px;
        height: 24px;
        line-height: 24px;
      }
    }
  }

  &.@{prefix}-disclosure {
    .bp-cell-android-element('\e001');
  }

  &.@{prefix}-checkmark {
    .bp-cell-android-element('\e002');
  }
}
