@import 'ios/basic';
@import 'ios/elements';
@import 'ios/value';
@import 'ios/subtitle';

bp-cell {
  &:extend(.borderBox);
  &:extend(.ellipsis);
  .bp-flexbox(horizontal);
  .bp-cell-wrapper;
  > div, > span {
    &:extend(.ellipsis);
    .bp-cell-content;
  }
  &.@{tap-active} {
    .bp-cell-active;
  }
  &:last-child {
    &.active {
      border-top: none;
    }
  }
}

.bp-cell-value1 {
  .value {
    .bp-cell-value1-cell;
  }
  .label {
    .bp-cell-label1-cell;
  }
  // minor tweaks for weird form elements
  select.value {
    -webkit-box-flex: 0;
  }
}

.bp-cell-value2 {
  .value {
    &:extend(.borderBox);
    .bp-cell-value2-cell;
  }
  .label {
    &:extend(.borderBox);
    .bp-cell-value2-cell-label;
  }
  input::-webkit-input-placeholder {
    color: #8c8c8c;
  }
}

.bp-cell-subtitle {
  .titles {
    .bp-flexbox(vertical, center, start);
    .title, .subtitle {
      &:extend(.ellipsis);
      width: 100%;
    }
    .title {
      .bp-cell-subtitle-title;
    }
    .subtitle {
      .bp-cell-subtitle-subtitle;
    }
  }
}

.bp-cell-disclosure {
  &:after {
    &:extend(bp-icon:before);
    &:extend(.bp-icon-system:before);
  }
  .table-element('\e001', #cccccc, #7F7F7F);
}
.bp-cell-checkmark {
  &:after {
    &:extend(bp-icon:before);
    &:extend(.bp-icon-system:before);
  }
  .table-element('\e002', @ui-color);
}
