@import 'ios/theme';

.bp-ios-cell(@prefix) {
  &:extend(.borderbox);
  &:extend(.ellipsis);
  .bp-flexbox(horizontal);
  .bp-ios-cell-theme(@prefix);
  background: white;
  font-size: @ios-cell-font-size;
  height: @ios-cell-height;
  line-height: @ios-cell-height;
  list-style: none;
  margin: 0 13px;

  &:first-child {
    .box-shadow(none);
  }

  > div, > span, > input, > label, > select {
    &:extend(.ellipsis);
    display: block;
    -webkit-box-flex: 1;
  }

  &.@{tap-active} {
    padding: 0 13px;
    margin: 0;
  }

  &.@{prefix}-value1 {
    .value {
      display: block;
      max-width: 65%;
      -webkit-box-flex: 0;
      margin-left: 8px;
      text-align: right;
      font-weight: 200;
    }

    select.value {
      -webkit-box-flex: 0;
    }

    label, .label {
      max-width: 65%;
      &:extend(.ellipsis);
      -webkit-box-flex: 1;
    }
  }

  &.@{prefix}-value2 {
    .value {
      &:extend(.borderbox);
      display    : block;
      margin-left: 8px;
      width      : 65%;
      font-weight: 200;
      color: black;
    }
    .label {
      &:extend(.borderbox);
      font-size: 0.8em;
      text-align: right;
      width: 35%;
    }
  }

  &.@{prefix}-subtitle {
    .titles {
      .bp-flexbox(vertical, center, start);
      .title, .subtitle {
        &:extend(.ellipsis);
        width: 100%;
      }
      .title {
        font-size  : 1em;
        height     : 24px;
        line-height: 26px;
      }
      .subtitle {
        font-size  : 0.8em;
        height     : 18px;
        line-height: 14px;
      }
    }
  }
}
