@import 'ios';

.bp-ellipsis() {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.bp-flexbox(@orient: horizontal, @pack: start, @align: center) {
  -webkit-box-orient: @orient;
  -webkit-box-pack: @pack;
  -webkit-box-align: @align;
  display: -webkit-box;
}

// used for extending
.bp-fullsize {
  height: 100%;
  width: 100%;
}

.borderbox {
  .box-sizing(border-box);
}

.flexbox {
  .bp-flexbox;
}

.ellipsis {
  .bp-ellipsis;
}
