.bp-cell-wrapper(@height: @ios-table-cell-height) {
  background   : white;
  font-size    : 20px;
  height       : @ios-table-cell-height;
  line-height  : @ios-table-cell-height;

  list-style   : none;
  margin       : 0 13px;
  border-bottom: 1px solid transparent;
  border-top   : 1px solid #d6d6d6;

  font: -apple-system-body;
  &:first-child {
    border: none;
  }
}

.bp-cell-active(@active-color: @ios-table-cell-active-color) {
  background-color: #d6d6d6;
  padding         : 0 13px;
  margin          : 0;
  border-bottom   : 1px solid transparent;
  box-shadow      : 0 1px #d6d6d6;
}

.bp-cell-content() {
  display: block;
  -webkit-box-flex: 1;
}
