/*
# Elements
*/

.table-element(@icon, @iconcolor) {
  &:after {
    font-size: 0.8em;
    content: @icon;
    color: @iconcolor;
  }
}

.table-element(@icon, @iconcolor, @activecolor) {
  &:after {
    color: @iconcolor;
    font-size: 0.8em;
    content: @icon;
    &.active {
      color: @activecolor;
    }
  }
}
