.bp-cell-subtitle-title(@a:1) {
    font-size  : 20px;
    height     : 23px;
    line-height: 23px;
}

.bp-cell-subtitle-subtitle(@a:1) {
    color: #ABABAB;
    font-size  : 16px;
    height     : 19px;
    line-height: 19px;
}
