@import "android/theme";

.bp-android-search() {
  @space: @android-search-height/6;
  &:extend(.flexbox);
  .bp-android-search-theme;
  height: @android-search-height;
  padding: 0 @space;
  margin: 0;
  position: relative;
  overflow: hidden;

  bp-search-bg {
    display: block;
    .box-sizing(border-box);
    position: absolute;
    top: @space;
    right: @space;
    bottom: @space;
    left: @space;
    background-color: white;
  }

  input {
    .placeholder(transparent);
    display: block;
    -webkit-box-flex: 1;
  }

  &.focus input:valid ~ bp-search-placeholder {
    display: none;
  }

  bp-search-placeholder {
    color: @android-input-default;
    position: absolute;
    top: 0;
    left: 0;
    pointer-events: none;
    line-height: @android-search-height;
    padding-right: 2*@space;
    padding-left: (2*@space+2px);
  }

  bp-search-tap {
    position: absolute;
    z-index: 9999;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }

  &.focus bp-search-tap {
    pointer-events: none;
  }
}
