.bp-ios-loading-bar() {
  .bar {
    top: (@ios-navbar-height - 2px);
    background-color: @ios-loading-bar-color;
  }

  @media only screen and (orientation:landscape) and (max-height: 480px) {
    .bar {
      top: (@ios-navbar-height-landscape - 2px) !important;
    }
  }
}
