<!doctype html>
<html ng-app="demo">
  <head>
    <title>Bradypodion tap demo</title>
    <link rel="stylesheet" href="../../../../dist/bradypodion.css">
    <meta charset="UTF-8">
    <meta name="HandheldFriendly" content="True">
    <meta name="MobileOptimized" content="320">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no, target-densitydpi=device-dpi">
    <meta name="viewport" content="initial-scale=1.0,user-scalable=no,maximum-scale=1" media="(device-height: 568px)" />
    <meta name="apple-mobile-web-app-capable" content="yes">
  </head>
  <body ng-cloak>
    <bp-navbar>
      <bp-button bp-tap="toggleTheme()" demo-switch-theme>Toggle Theme</bp-button>
      <bp-button bp-tap="tapped()" demo-tapped>tap me {{ random }}</bp-button>
      <bp-button bp-tap="tapped()" demo-tapped bp-no-scroll>
        tap me (no scroll) {{ random }}
      </bp-button>
      <bp-button bp-tap="tapped()" demo-tapped bp-no-scroll bp-bound-margin="100">
        tap me (no scroll & bound margin 100) {{ random }}
      </bp-button>
    </bp-navbar>

    <script type='text/javascript' src='../../../../deps.js'></script>
    <script type='text/javascript'>
      var finalLoad = function () {
        angular.module('demo', ['bp'])
          .config(function(bpConfigProvider) {
            bpConfigProvider.setConfig({platform: localStorage.getItem('platform') || 'ios'})
          })
          .directive('demoTapped', function(bpConfig){
            return function(scope, element, attrs) {
              scope.tapped = function() {
               scope.random = Math.floor(Math.random() * 100);
              };
            };
          })
          .directive('demoSwitchTheme', function(){
            return function(scope, element, attrs) {
              platforms = ['ios','ios7','android']
              scope.toggleTheme = function(e) {
                index = platforms.indexOf(scope.config.platform);
                scope.config.platform = platforms[++index%3];
                localStorage.setItem('platform', scope.config.platform);
                location.reload();
              };
            }
          })
        };
    </script>
  </body>
</html>
