.table-header-element(@height: @table-header-height) {
  .gradient(~"linear-gradient(top, #92A3AF, #B8C2CA)");
  border-top      : 1px solid #7a868e;
  border-bottom   : 1px solid #949ea6;
  @shadow-color   : fade(white,30%);
  .box-shadow(~"inset 0 1px 2px @{shadow-color}");

  color           : white;
  font-size       : 18px;
  font-weight     : bold;
  text-shadow     : 0 1px fade(black,40%);

  width: 100%;
  height          : (@height - 1px);
  line-height     : (@height - 5px);

  margin          : 0;
  padding         : 0 13px;
}
