.table-grouped-wrapper() {
  .border-radius(6px);
  .box-shadow(~"0 0 0 1px #AEB2B9, 0 2px white");

  margin       : 22px 10px 10px;
}

.table-grouped-cell() {
  background : #F9F9F9;
  text-shadow  : 1px 1px white, -1px 1px white, 1px -1px white, -1px -1px white;

  border-bottom: 1px solid fade(#c5c5c5,50%);
  border-top   : 1px solid white;

  &:first-child {
    border-top             : 1px solid fade(#c5c5c5,50%);
    border-top-left-radius : 6px;
    border-top-right-radius: 6px;
  }
  &:last-child {
    border-bottom: none;
    border-bottom-left-radius : 6px;
    border-bottom-right-radius: 6px;
  }
}

.table-grouped-meta() {
  display    : block;
  padding    : 0 13px;
  color      : #4C566C;
  text-shadow: 0 1px white;
}

.table-grouped-header-specific() {
  margin     : 16px 10px 0;

  height     : 22px;
  line-height: 22px;

  font-size  : 18px;
  font-weight: bold;
}

.table-grouped-footer-specific() {
  margin    : 0 13px 5px;

  line-height: 20px;

  font-size : 16px;
  text-align: center;
}
