.bp-cover(normal, @duration: 0.3s, @name: cover) {
  .keyframes(~'@{name}-normal-enter, 0%{ transform: translateY(100%) } 100%{ transform: translateY(0) }');
  .keyframes(~'@{name}-normal-leave, 0%{ transform: translateY(0) } 100%{ transform: translateY(0) }');

  .@{name}-normal.ng-enter {
    .animation(cover-normal-enter, @duration, ease-in);
    z-index: 1000;
  }
  .@{name}-normal.ng-leave {
    z-index: inherit;
    .animation(cover-normal-leave, @duration, ease-in);
  }
}

.bp-cover(reverse, @duration: 0.3s, @name: cover) {
  .keyframes(~'@{name}-reverse-enter, 0%{ transform: translateY(0) } 100%{ transform: translateY(0) }');
  .keyframes(~'@{name}-reverse-leave, 0%{ transform: translateY(0) } 100%{ transform: translateY(100%) }');

  .@{name}-reverse.ng-enter {
    z-index: inherit;
    .animation(cover-reverse-enter, @duration, ease-in);
  }
  .@{name}-reverse.ng-leave {
    z-index: 1000;
    .animation(cover-reverse-leave, @duration, ease-in);
  }
}

