<bp-navbar>
  <bp-button class="bp-button-back bp-button-inverse" bp-no-scroll bp-tap="to('table')">Table</bp-button>
  Plain Table
</bp-navbar>
<bp-table bp-iscroll>
  <bp-cell ng-repeat="friend in friends" class="bp-cell-value2">
    <div class="label">{{ friend.name }}</div>
    <div class="value">{{ friend.phone }}</div>
  </bp-cell>
  <bp-cell ng-repeat="friend in friends" class="bp-cell-value2">
    <div class="label">{{ friend.name }}</div>
    <div class="value">{{ friend.phone }}</div>
  </bp-cell>
  <bp-cell ng-repeat="friend in friends" class="bp-cell-value2">
    <div class="label">{{ friend.name }}</div>
    <div class="value">{{ friend.phone }}</div>
  </bp-cell>
  <bp-cell ng-repeat="friend in friends" class="bp-cell-value2">
    <div class="label">{{ friend.name }}</div>
    <div class="value">{{ friend.phone }}</div>
  </bp-cell>
</bp-table>
