<bp-navbar>
  <bp-button class="bp-button-back bp-button-inverse" bp-no-scroll bp-tap="to('table')">Table</bp-button>
  Section Table
</bp-navbar>
<bp-table bp-scroll bp-scroll-sticky>
  <bp-table>
    <bp-table-header>A</bp-table-header>
    <bp-cell ng-repeat="friend in friends">
      Aa
    </bp-cell>
  </bp-table>
  <bp-table>
    <bp-table-header>B</bp-table-header>
    <bp-cell ng-repeat="friend in friends">
      Bb
    </bp-cell>
  </bp-table>
  <bp-table>
    <bp-table-header>C</bp-table-header>
    <bp-cell ng-repeat="friend in friends">
      Cc
    </bp-cell>
  </bp-table>
  <bp-table>
    <bp-table-header>D</bp-table-header>
    <bp-cell ng-repeat="friend in friends">
      Dd
    </bp-cell>
  </bp-table>
  <bp-table>
    <bp-table-header>E</bp-table-header>
    <bp-cell ng-repeat="friend in friends">
      Ee
    </bp-cell>
  </bp-table>
  <bp-table>
    <bp-table-header>F</bp-table-header>
    <bp-cell ng-repeat="friend in friends">
      Ff
    </bp-cell>
  </bp-table>
</bp-table>
