.btn-type (@color: @ui-color, @font-size: 18px) {
  font-size             : @font-size;
  font-weight           : normal;
  text-align            : center;
  -webkit-text-rendering: optimizeLegibility;
  color      : @color;
}
