// # Fade

.bp-fade (@direction: normal, @name: fade, @duration: 0.3s) {
  @enter: ~`'@{direction}' === 'normal' ? 0 : 1`;
  @leave: ~`'@{direction}' === 'normal' ? 1 : 0`;

  .@{name}-@{direction}.ng-enter {
    .transition(~"@{duration} linear all");
    opacity: @enter;
    z-index: ~`'@{leave}' === '1' ? 1000 : 'inherit'`;
  }
  .@{name}-@{direction}.ng-enter.ng-enter-active {
    opacity: 1;
  }
  .@{name}-@{direction}.ng-leave {
    .transition(~"@{duration} linear all");
    opacity: 1;
    z-index: ~`'@{enter}' === '1' ? 1000 : 'inherit'`;
  }
  .@{name}-@{direction}.ng-leave.ng-leave-active {
    opacity: @leave;
  }
}

.bp-fade;
.bp-fade(reverse);
