.navbar-text(@font-size: @font-size, @height: @navbar-height) {
  position: relative;
  font-size: @font-size;
  color: #333333;
  display: block;
  height: (@height / 1.2);
  line-height: (@height / 1.2);
  margin-left: (@height / 1.2);
  -webkit-box-flex: 1;
}
