.bp-scroll(@name: bp-scroll) {
  @{name}, [@{name}] {
    -webkit-box-flex: 1;
    overflow: scroll;
    -webkit-overflow-scrolling: touch;
    &[bp-scroll-sticky] {
      bp-table-header {
        top: 0;
        position: -webkit-sticky;
      }
      > div, ul, bp-table, .bp-content {
        position: relative;
      }
    }
  }
}
