.btn-basic (@height: @button-height) {
  .border-radius(2px);

  display    : block;
  position   : relative;
  border     : none;
  height     : @height;
  line-height: @height;
  padding    : 0 (@height/4);
}
