@import "android/theme";

.bp-android-search() {
  &:extend(.flexbox);
  .bp-android-search-theme;
  height: @android-search-height;
  padding: 0 (@android-search-height/6);
  margin: 0;
  position: relative;
  overflow: hidden;

  &:before {
    &:extend(.bp-icon-search:before);
    position: absolute;
    left: (@android-search-height/6);
    width: (@android-search-height/2);
    text-align: center;
    content: '\e000';
    pointer-events: none;
    line-height: @android-search-height;
    color: @android-text-secondary-color;
  }

  bp-button {
    .opacity(0);
    .transform(translateX(100%));
    .transition(all 0.3s ease);
    position: absolute;
    right: (@android-search-height/6);
    top: ((@android-search-height - @android-button-height)/2);
    speak: none;
    pointer-events: none;
  }

  &.focus bp-button {
    .translateX(0);
    .opacity(1);
    speak: normal;
    pointer-events: auto;
  }

  input[type=search] {
    .box-sizing(border-box);
    .transition(width 0.3s ease);
    height: 30px;
    font-size: 14px;
    display: block;
    position: relative;
    padding: 0 (@android-search-height/4) 0 (@android-navbar-height/2);
    margin-top: 0;
    width: 100%;
  }
}
