@import "ios/theme";

.bp-ios-search() {
  @padding: 6px;
  &:extend(.flexbox);
  .bp-ios-search-theme;
  overflow: hidden;
  height: @ios-search-height;
  padding: 0 @padding;
  position: relative;

  &:before {
    &:extend(.bp-icon-search:before );
    .transition(left 0.3s ease);
    pointer-events: none;
    color: @ios-text-secondary-color;
    font-size: 14px;
    line-height: @ios-search-height;
    height: @ios-search-height;
    width: @ios-search-height;
    text-align: center;
    z-index: 100;
    position: absolute;
    left: 50%;
    margin-left: -(@ios-search-height - @padding);
  }

  &.focus:before {
    left: (@ios-search-height - @padding);
  }

  bp-button {
    .opacity(0);
    .transform(translateX(100%));
    .transition(all 0.3s ease);
    position: absolute;
    right: @padding;
    pointer-events: none;
    speak: none;
    padding: 0 @padding;
  }

  &.focus bp-button {
    .transition(all 0.3s linear 0.3s);
    .transform(translateX(0));
    .opacity(1);
    speak: normal;
    pointer-events: auto;
  }

  input[type=search] {
    .border-radius(@padding);
    .box-sizing(border-box);
    .transition(width 0.1s ease 0.3s);
    position: relative;
    font-size: 14px;
    background-color: white;
    border: none;
    display: block;
    height: (@ios-search-height - 2*@padding);
    padding: 0 (4 * @padding);
    width: 100%;
    &::-webkit-input-placeholder {
      .transition(transform 0.3s ease);
      .transform(translateX(50%));
      color: @ios-text-secondary-color;
    }

    &:focus::-webkit-input-placeholder {
      .transform(translateX(0));
    }
  }

  .focus input[type=search] {
    .transition(width 0.3s ease 0.1s);
  }
}
