@import "ios/theme";

.bp-ios-search() {
  @space: 6px;
  &:extend(.flexbox);
  .bp-ios-search-theme;
  overflow: hidden;
  height: @ios-search-height;
  position: relative;

  bp-search-bg-left, bp-search-bg-right {
    display: block;
    .box-sizing(border-box);
    position: absolute;
    top: @space;
    background-color: white;
    height: (@ios-search-height - 2*@space);
  }

  bp-search-bg-left {
    .border-radius(@space);
    left: 0;
    margin-left: @space;
    width: 65%;
  }

  bp-search-bg-right {
    .translateX(0);
    .transition(all 0.3s ease);
    .border-top-right-radius(@space);
    .border-bottom-right-radius(@space);
    right: 0;
    margin-right: @space;
    width: 35%;
  }

  &.focus bp-search-bg-right {
    .translateX(-100%);
  }

  input[type=search] {
    .placeholder(transparent);
    .appearance(searchfield);
    border: none;
    background: transparent;
    position: relative;
    z-index: 100;
    color: black;
    display: block;
    margin: @space;
    padding-right: @space;
    padding-left: (3*@space);
    height: (@ios-search-height - 2*@space);
    width: 65%;
  }

  &.focus input[type=search]:valid ~ bp-search-placeholder span {
    display: none;
  }

  .bp-button {
    .opacity(0);
    .translateX(100%);
    .transition(all 0.3s ease);
    position: absolute;
    right: 0;
    pointer-events: none;
    speak: none;
    padding-left: (2*@space);
    padding-right: (2*@space);
  }

  &.focus .bp-button {
    .opacity(1);
    .translateX(0);
    speak: normal;
    pointer-events: auto;
  }

  bp-search-placeholder {
    font-size: 13px;
    .ios-dynamic-type(-apple-system-footnote);
    color: @ios-text-secondary-color;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    pointer-events: none;
    line-height: @ios-search-height;
    padding: 0 (2*@space);
    text-align: center;
  }

  &.focus bp-search-placeholder {
    text-align: left;
  }

  bp-search-tap {
    position: absolute;
    z-index: 9999;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }

  &.focus bp-search-tap {
    pointer-events: none;
  }
}
