.navbar-icon(@height: @navbar-height) {
  @size: (@height / 1.6);
  content          : '';
  display          : block;
  position         : absolute;
  top              : 5px;
  left             : -(@size + @height/12);
  pointer-events   : none;
  width            : @size;
  height           : @size;
  .background-size(@size @size);
  background-repeat: no-repeat;
  //dummy
  .background-image(linear-gradient(darkgray, darkgray));
}
