.navbar-icons(@height: @navbar-height, @color: @font-color, @font-size: @font-icon-size) {
  color      : fade(@color,60%);
  display    : block;
  width      : @height;
  height     : @height;
  line-height: @height;
  text-align : center;
  font-size  : @font-size;
  &:last-child {
    margin-right: -(@height/6);
  }

  /*
    Used to adjust Focal area & proportions as described here
    http://developer.android.com/design/style/iconography.html
    Do not use this in production
  */

  // .background-image(linear-gradient(darkgray,darkgray) ,linear-gradient(gray,gray));
  // .background-size(24px, 32px);
  // background-repeat: no-repeat;
  // background-position: 12px 12px, 8px 8px;
}

.navbar-icons-active(@color: @highlight-color) {
  @bg-color: lighten(desaturate(spin(@color, -1deg), 16%), 17%);
  background-color: @bg-color;
}

.navbar-icons-disabled(@color: @font-color) {
  color: fade(@color,30%);
}
