.navbar-size(@height: @navbar-height) {
  position: relative;
  height : @height;
  padding: 0 (@height/6);
  width  : 100%;
  -webkit-ordinal-group: 10;
  > * {
    margin-top   : 0;
    margin-bottom: 0;
  }
}
