.navbar-text(@android-font-size: @android-font-size, @height: @android-navbar-height) {
  overflow: visible;
  position: relative;
  font-size: @android-font-size;
  color: #333333;
  display: block;
  height: (@height / 1.2);
  line-height: (@height / 1.2);
  margin-left: (@height / 1.2);
  -webkit-box-flex: 1;
}
