.tabbar-tab() {
  display: block;
  border-top: 6px solid transparent;
  border-bottom: 6px solid transparent;
  height          : 100%;
  -webkit-box-flex: 1;
}

.tabbar-tab-active() {
  border-top: 6px solid transparent;
  border-bottom: 6px solid fade(@highlight-color,60%);
}
