bp-detail-disclosure {
  display: block;
  .border-radius(100%);
  width: 20px;
  height: 20px;
  line-height: 20px;
  font-size: 18px;
  text-align: center;
  border: 1px solid @ui-color;
  color: @ui-color;
  font-family: Didot, serif;
  font-weight: bold;

  &:before {
    content: 'i';
  }

  &:after {
    position: absolute;
    content: '';
    width:44px;
    height: 44px;
    top: -12px;
    left: -9px;
  }

  &.bp-active {
    border: 1px solid fade(@ui-color,50%);
    color: fade(@ui-color,50%);
  }
}
