bp-detail-disclosure {
  position: relative;
  color: white;
  display: block;
  background-color: #2563db;
  border-radius: 100%;
  width: 20px;
  height: 20px;
  border: 2px solid white;
  text-shadow: 0 -1px #2563db;
  box-shadow: 0 1px 2px 1px fade(black,30%), inset 0 12px 0 -4px fade(white,20%);
  &:before {
    font-size: 12px;
    content: '\e001';
    font-family: 'bp-system';
    position: absolute;
    top: 0;
    left: 0;
    width: 22px;
    height: 20px;
    line-height: 20px;
    text-align: center;
    display: block;
  }
  &:after {
    position: absolute;
    content: '';
    width:44px;
    height: 44px;
    top: -12px;
    left: -9px;
  }
  &.bp-active {
    background-color: #153c84;
  }
}
