@import 'ios/theme';

.bp-ios-detail-disclosure() {
  .bp-ios-detail-disclosure-theme;
  display: block;
  width: 44px;
  height: 44px;

  &:before {
    .border-radius(100%);
    position: absolute;
    display: block;
    content: 'i';
    font-size: 18px;
    text-align: center;
    font-family: Didot, serif;
    font-weight: bold;
    line-height: 20px;
    width: 20px;
    height: 20px;
    margin: 11px;
    text-align: center;
  }
}
