@import 'ios/theme';

.bp-ios-button(@prefix) {
  .bp-ios-button-theme;
  border: none;
  display: block;
  font-weight: normal;
  height: @ios-button-height;
  text-align: center;
  -webkit-text-rendering: optimizeLegibility;

  &.@{prefix}-back  {
    &:extend(bp-icon all);
    &:extend(.bp-icon-chevron-left all);
    &:before {
      font-size: 20px;
      line-height: 22px;
      height: 22px;
      margin-left: -3px;
      margin-right: 0px;
    }
  }

  &.@{prefix}-forward:after {
    &:extend(bp-icon:before);
    &:extend(.bp-icon-chevron-right:before);
    font-size: 20px;
    line-height: 22px;
    height: 22px;
    margin-left: -5px;
    margin-right: -3px;
  }

  &.disabled, &[disabled] {
    cursor: default;
    pointer-events: none;
    color: #cccccc;
  }
}
