.bp-general-body() {
  .backface-visibility(hidden);
  .user-select(none);
  .bp-fullsize;
  .bp-flexbox(vertical,start,stretch);
  line-height: 150%;
  margin: 0;
  overflow: hidden;
  position: relative;
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
}
