.bp-body() {
  .backface-visibility(hidden);
  .user-select(none);
  .bp-fullsize;
  .bp-flexbox(vertical,start,stretch);
  font-size: 100%;
  line-height: 150%;
  margin: 0;
  overflow: hidden;
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
}

body {
  .bp-body;
}
