@import "general/cover";
@import "general/fade";
@import "general/flip";
@import "general/scale";
@import "general/slide";

[ui-view] {
  display: block;
  position: relative;
  .scf-full-size;
}

bp-screen {
  position: absolute;
  top: 0;
  left: 0;
  .scf-full-size;
  .UIcing-flexbox(vertical,start,stretch);
  .transform(translate3d(0,0,0));
  z-index: 1;
}

.bp-cover;
.bp-cover(reverse);

.bp-fade;
.bp-fade(reverse);

.bp-scale;
.bp-scale(reverse);

.bp-slide;
.bp-slide(reverse);
