/*
# Search
*/
.table-search-input() {
  box-sizing        : border-box;
  font-size         : 14px;
  -webkit-appearance: none;
  background-color  : white;
  .border-radius(50px);
  .box-shadow(~"inset 0 0 0 1px #A2AEB9, inset 0 0 4px 1px #A2AEB9, inset 0 1px 1px #A2AEB9");
  display           : block;
  height            : 30px;
  padding           : 0 13px 0 26px;
  position          : relative;
  margin-top        : 2px;
  width             : 100%;
  .transition(width 0.3s linear);
  &::-webkit-input-placeholder {
    color: #93989E;
  }
}

.table-search-wrapper() {
  &:extend(.bp-icon all);
  &:before {
    &:extend(.bp-icon-search:before );
    color       : #93989E;
    line-height : 48px;
    font-size   : 14px;
    pointer-events: none;
    z-index     : 100;
    position    : absolute;
    left        : 13px;
  }
  .gradient(~"linear-gradient(top, #D4DCE1, #B5C1C9)");
  border-top      : 1px solid #BBC7CF;
  box-shadow      : 0 1px #747F87;
  height          : 43px;
  padding         : 0 5px;
  overflow: hidden;

  position: relative;

  bp-button {
    .opacity(0);
    .transform(translateX(100%));
    .transition(all 0.3s linear);
    position: absolute;
    right: 5px;
    top: 6px;
    speak: none;
    pointer-events: none;
  }
  &.focus bp-button {
    .transition(all 0.3s linear 0.02s);
    .transform(translateX(0));
    .opacity(1);
    speak: normal;
    pointer-events: auto;
  }
}

.table-search-results-list() {
  .scf-full-size;
  background-color: fade(black,50%);

  height: 100%;
  overflow: auto;
  -webkit-overflow-scrolling: touch;

  position        : absolute;
  z-index         : 1000;
  top             : 0;
  left            : 0;
}
