@android-name: android;

@android-text-color: #333333;
@android-font-size: 18px;
@android-font-family: Roboto Condensed, sans-serif;

@android-font-color              : #333333;
@android-theme-color             : #CECECE;
@android-highlight-color         : #5AC2E9;

@android-navbar-height           : 48px;

@android-button-height           : (@android-navbar-height - @android-navbar-height/6);

@android-table-cell-active-color : @android-highlight-color;
@android-table-cell-height       : @android-navbar-height;
@android-table-header-height     : 25px;

@android-font-size               : 18px;
@android-font-icon-size          : 16px;

@android-font-path               : '../font/';
