// platforms
@ios: true;
@android: true;

// browsers
@webkit: true;
@w3c: true;
@moz: false;
@opera: false;
@ms: false;
@oldWebkit: false;

//  variables
@tap-active: bp-active;
@bp-icon-font-system: 'bp-system';
@bp-icon-font-app: 'bp-app';

@import 'android';
@import 'ios';
