@ios-name: ios;

@ios-text-color: black;
@ios-text-secondary-color: #8c8c8c;
@ios-font-size: 17px;
@ios-font-family: HelveticaNeue-Light, HelveticaNeue, Helvetica Neue, Helvetica, sans-serif;
@ios-dynamic-type: true;

@ios-ui-color                        : #0069ff;

@ios-button-height: 44px;
@ios-button-theme-default: @ios-ui-color;

@ios-cell-height: 44px;
@ios-cell-font-size: inherit;
@ios-cell-text-color: @ios-text-color;
@ios-cell-text-secondary-color: @ios-text-secondary-color;
@ios-cell-active-color: #d6d6d6;
@ios-cell-border-color: #d6d6d6;
@ios-cell-highlight-color: @ios-ui-color;

@ios-detail-disclosure-color: @ios-ui-color;

@ios-navbar-height-default           : 44px;
@ios-navbar-height-small             : 33px;

@ios-tabbar-icon-color               : #C2C2C2;
@ios-tabbar-icon-color-active        : #2096FF;

@ios-table-cell-active-color         : #058cf5;
@ios-table-cell-height               : 44px;
@ios-table-header-height             : 25px;
