@ios-ui-color                        : #0069ff;

@ios-navbar-height-default           : 44px;
@ios-navbar-height-small             : 33px;

@ios-tabbar-icon-color               : #C2C2C2;
@ios-tabbar-icon-color-active        : #2096FF;

@ios-table-cell-active-color         : #058cf5;
@ios-table-cell-height               : 44px;
@ios-table-header-height             : 25px;
