.navbar-bg(@color: @ui-color) {
  border-top      : 1px solid lighten(@color, 50%);
  border-bottom   : 1px solid darken(@color, 10%);

  @gradient-color : lighten(@color, 40%);
  .gradient(~"linear-gradient(top, @{gradient-color}, @{color})");
}
