.bp-ios-defaults() {
  input, select {
    &:extend(.borderbox);
    .appearance(none);
    background: transparent;
    border: none;
    padding: 0;
    &::-webkit-input-placeholder {
      color: #8c8c8c;
    }
  }
}
