.bp-scale (@direction: normal, @name: scale, @duration: 0.3s) {
  @enter: ~`'@{direction}' === 'normal' ? 0 : 1`;
  @leave: ~`'@{direction}' === 'normal' ? 1 : 0`;

  .@{name}-@{direction}.ng-enter {
    .transition(all @duration ease-in);
    .scale(@enter);
    z-index: ~`'@{leave}' === '1' ? 1000 : 'inherit'`;
  }
  .@{name}-@{direction}.ng-enter.ng-enter-active {
    .scale(1);
  }
  .@{name}-@{direction}.ng-leave {
    .transition(all @duration ease-in);
    .scale(1);
    z-index: ~`'@{enter}' === '1' ? 1000 : 'inherit'`;
  }
  .@{name}-@{direction}.ng-leave.ng-leave-active {
    .scale(@leave);
  }
}
