.table-grouped-meta() {
  display    : block;
  background-color: #EDEDED;
  margin: 0;
  border-left: 16px solid #EDEDED;
  border-right: 16px solid #EDEDED;
}

.table-grouped-header-specific() {
}

.table-grouped-footer-specific() {
  text-align: center;
  font-size: 16px;
  padding: 8px 8px 16px;
}
