<bp-navbar></bp-navbar>
<bp-table bp-scroll>
  <bp-cell>Cell</bp-cell>
  <bp-cell class="bp-cell-value1">
    <div class="label">Label</div>
    <input type="text" class="value" placeholder="value"/>
  </bp-cell>
  <bp-cell class="bp-cell-value1">
    <input type="text" placeholder="input only"/>
  </bp-cell>
  <bp-cell class="bp-cell-value1">
    <select>
      <option>Option 1</option>
      <option>Option 2</option>
      <option>Option 3</option>
    </select>
  </bp-cell>
  <bp-cell class="bp-cell-value1">
    <div class="label">{{ value }}</div>
    <input type="text" class="value" ng-model="value" placeholder="type here"/>
  </bp-cell>
  <bp-cell class="bp-cell-value1">
    <div class="label">This label is a little longer</div>
    <div class="value">Value</div>
  </bp-cell>
  <bp-cell class="bp-cell-value1">
    <div class="label">Label</div>
    <div class="value">This value is a little longer</div>
  </bp-cell>
  <bp-cell class="bp-cell-value1">
    <div class="label">This label is a little longer</div>
    <div class="value">This value is a little longer</div>
  </bp-cell>
  <bp-cell class="bp-cell-value2">
    <div class="label">Label</div>
    <div class="value">Value</div>
  </bp-cell>
  <bp-cell class="bp-cell-subtitle">
    <div class="titles">
      <div class="title">Title</div>
      <div class="subtitle">Subtitle</div>
    </div>
  </bp-cell>
  <bp-cell class="bp-cell-value1 bp-cell-disclosure">
    <div class="label">Label</div>
    <div class="value">Value</div>
  </bp-cell>
</bp-table>
