<bp-screen>
  <bp-navbar>
    <bp-button class="bp-button-back bp-button-inverse" bp-no-scroll bp-tap="to('directives')">Directives</bp-button>
    Cell
  </bp-navbar>
  <bp-table bp-iscroll>
    <bp-cell>Cell</bp-cell>
    <bp-cell bp-tap class="bp-cell-value1 bp-cell-checkmark">Tap Cell</bp-cell>
    <bp-cell bp-tap class="bp-cell-value1 bp-cell-disclosure">Tap Cell</bp-cell>
    <bp-cell class="bp-cell-value1">
      <div class="label">Label</div>
      <input type="text" class="value" placeholder="value"/>
    </bp-cell>
    <bp-cell class="bp-cell-value1">
      <div class="label">{{ value }}</div>
      <input type="text" class="value" ng-model="value" placeholder="value"/>
    </bp-cell>
    <bp-cell class="bp-cell-value1">
      <div class="label">Looooooooooong Label</div>
      <div class="value">Value</div>
    </bp-cell>
    <bp-cell class="bp-cell-value1">
      <div class="label">Label</div>
      <div class="value">Looooooooooong Value</div>
    </bp-cell>
    <bp-cell class="bp-cell-value2">
      <div class="label">Label</div>
      <div class="value">Value</div>
    </bp-cell>
    <bp-cell class="bp-cell-subtitle">
      <div class="titles">
        <div class="title">Title</div>
        <div class="subtitle">Subtitle</div>
      </div>
    </bp-cell>
    <bp-cell class="bp-cell-value1 bp-cell-disclosure">
      <div class="label">Label</div>
      <div class="value">Value</div>
    </bp-cell>
  </bp-table>
</bp-screen>
