<bp-navbar>
  <bp-action class="bp-button-back" bp-sref="directives">Directives</bp-action>
</bp-navbar>
<bp-table class='bp-content'>
  <bp-cell bp-sref='detail-disclosure-site'>
    Cell
    <bp-detail-disclosure bp-sref='detail-disclosure-detail'></bp-detail-disclosure>
  </bp-cell>
  <bp-cell bp-sref='detail-disclosure-site'>
    Cell
    <bp-detail-disclosure bp-sref='detail-disclosure-detail'></bp-detail-disclosure>
  </bp-cell>
  <bp-cell bp-sref='detail-disclosure-site' id='userid'>
    Cell
    <bp-detail-disclosure bp-sref='detail-disclosure-detail'></bp-detail-disclosure>
  </bp-cell>
<bp-table>
