<bp-navbar>
  <bp-action class="bp-button-back" bp-sref="directives">Directives</bp-action>
</bp-navbar>
<bp-content style="padding: 20px">
  <bp-action class="bp-icon bp-icon-search"></bp-action>
  <bp-action class="bp-icon bp-icon-chevron-right"></bp-action>
  <bp-action class="bp-icon bp-icon-chevron-left"></bp-action>
  <bp-action class="bp-icon bp-icon-chevron-up"></bp-action>
  <bp-action class="bp-icon bp-icon-chevron-down"></bp-action>
  <bp-action class="bp-icon bp-icon-check"></bp-action>
</bp-content>
