<bp-screen>
  <bp-navbar>
    <bp-button class="bp-button-back bp-button-inverse" bp-no-scroll bp-tap="to('directives')">Directives</bp-button>
    Tabbar
  </bp-navbar>
  <div ng-controller="bpViewCtrl" ui-view ng-animate="getFullTransition()"></div>
  <bp-tabbar>
    <bp-tab class="bp-icon-search" bp-tap='to(tabState)' bp-state="tabbar.first">First</bp-tab>
    <bp-tab class="bp-icon-search" bp-tap='to(tabState)' bp-state="tabbar.second">Second</bp-tab>
    <bp-tab class="bp-icon-search" bp-tap='to(tabState)' bp-state="tabbar.third">Third</bp-tab>
    <bp-tab class="bp-icon-search" bp-tap='to(tabState)' bp-state="tabbar.fourth">Fourth</bp-tab>
    <bp-tab class="bp-icon-search" bp-tap='to(tabState)' bp-state="tabbar.fifth">Fifth</bp-tab>
  </bp-tabbar>
</bp-screen>
