<bp-navbar>
  <bp-action class="bp-button-back" bp-sref="directives">Directives</bp-action>
</bp-navbar>
<bp-content>
  <div ui-view></div>
</bp-content>
<bp-tabbar>
  <bp-tab bp-sref='first' bp-tab-icon='bp-icon-search'></bp-tab>
  <bp-tab bp-sref='second' bp-tab-icon='bp-icon-search'></bp-tab>
  <bp-tab bp-sref='third' bp-tab-icon='bp-icon-search'></bp-tab>
  <bp-tab bp-sref='fourth' bp-tab-icon='bp-icon-search'></bp-tab>
  <bp-tab bp-sref='fifth' bp-tab-icon='bp-icon-search'></bp-tab>
</bp-tabbar>
