<bp-navbar>
  <bp-button class="bp-button-back bp-button-inverse" bp-no-scroll bp-tap="to('directives')">Directives</bp-button>
  Table Header
</bp-navbar>
<bp-table bp-iscroll>
  <bp-table-header>A</bp-table-header>
  <bp-cell>Cell</bp-cell>
  <bp-cell>Cell</bp-cell>
  <bp-cell>Cell</bp-cell>
  <bp-cell>Cell</bp-cell>
  <bp-cell>Cell</bp-cell>
  <bp-table-header>B</bp-table-header>
  <bp-cell>Cell</bp-cell>
  <bp-cell>Cell</bp-cell>
  <bp-cell>Cell</bp-cell>
  <bp-cell>Cell</bp-cell>
  <bp-cell>Cell</bp-cell>
  <bp-table-header>C</bp-table-header>
  <bp-cell>Cell</bp-cell>
  <bp-cell>Cell</bp-cell>
  <bp-cell>Cell</bp-cell>
  <bp-cell>Cell</bp-cell>
  <bp-cell>Cell</bp-cell>
</bp-table>
