<bp-navbar>
  <bp-action class="bp-button-back" bp-sref="directives">Directives</bp-action>
</bp-navbar>
<bp-content bp-scroll>
  <br><br>
  <bp-navbar>
    <bp-button bp-tap="tapped()" demo-tapped>default {{ random }}</bp-button>
  </bp-navbar>
  <bp-navbar>
    <bp-button bp-tap="tapped()" demo-tapped bp-no-scroll>
      no scroll {{ random }}
    </bp-button>
  </bp-navbar>
  <bp-navbar>
    <bp-button bp-tap="tapped()" demo-tapped bp-no-scroll bp-bound-margin="100">
      no scroll bound margin 100 {{ random }}
    </bp-button>
  </bp-navbar>
</bp-content>
